// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).
@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..

// Examples of using the icon mixin:
// @include icon('user');
@include icon-font('Pictos',inline-font-files('pictos/pictos-web.woff', woff, 'pictos/pictos-web.ttf', truetype,'pictos/pictos-web.svg', svg));

@include icon('anchor');
@include icon('globe2', 'G');
@include icon('wifi', "'");
@include icon('remind','n');
@include icon('groups', 'g');
@include icon('howto', '?');

@include font-face('Open Sans', inline-font-files('Open_Sans/OpenSans-Regular.ttf', truetype));


.remind-icon-normal {
	width: 96px;
	height: 96px;
	float: left;
	background-image: url('../icons/listicon-normal.png');
	background-repeat: no-repeat;
}

.remind-icon-place {
	width: 96px;
	height: 96px;
	float: left;
	background-image: url('../icons/listicon-place.png');
	background-repeat: no-repeat;
}

.remind-icon-wifi {
	width: 96px;
	height: 96px;
	float: left;
	background-image: url('../icons/listicon-wifi.png');
	background-repeat: no-repeat;
}

.howTo-icon{
	margin: 0;
}

.bold-inline{
	font-weight: bold;
}

.howTo-New-icon{
	width: 50px;
	height: 33px;
	background-image: url('../icons/New-Button.png');
	background-repeat: no-repeat;	
}

.howTo-Menu-icon{
	width: 93px;
	height: 33px;
	background-image: url('../icons/Menu-Button.png');
	background-repeat: no-repeat;
}

.howTo-Edit-icon{
	width: 32px;
	height: 32px;
	background-image: url('../icons/Edit-Button.png');
	background-repeat: no-repeat;
}

.howTo-Save-icon{
	width: 54px;
	height: 33px;
	background-image: url('../icons/Save-Button.png');
	background-repeat: no-repeat;	
}

.howTo-Back-icon{
	width: 54px;
	height: 33px;
	background-image: url('../icons/Back-Button.png');
	background-repeat: no-repeat;
}

.howTo-Delete-icon{
	width: 97px;
	height: 33px;
	background-image: url('../icons/Delete-Button.png');
	background-repeat: no-repeat;
}

.howTo-Choose-Geo-icon{
	width: 185px;
	height: 34px;
	background-image: url('../icons/Choose-geo-Button.png');
	background-repeat: no-repeat;
}

.remind-container {
	overflow: auto;
}

.remind-content {
	margin-left: 110px;
}

.wifi-ssid,
.wifi-mac,
.remind-title,
.remind-notificationType,
.remind-notificationAt,
.remind-notificationType,
.reminmd-item-text,
.remind-place,
.remind-ssid,
.remind-message{

	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 14px;

	span {
		font-weight: normal;
		font-size: 12px;
	}
}









